{% extends 'base.html' %}
{% block title %}
  Последователи
{% endblock %} 
{% block content %}
{% load thumbnail %}
  <div class="container py-5">
  {% include 'home/includes/switcher.html' %}
  <div class="row p-0 mb-0 bg-white rounded">
    <aside class="col-12 col-md-9"> 
    {% for post in page_obj %}
     <div class="shadow-lg p-0 mb-4 bg-white rounded">
      {% include 'home/includes/post_list.html' %}
     
      {% if not forloop.last %}<hr>{% endif %}
      </div>
    {% endfor %} 
    </aside>
   <article class="col-3 col-md-3">

ЗДЕСЬ МОЖЕТ БЫТЬ ВАША РЕКЛАМА!<br><br>
САМЫЙ ЛУЧШИЯ РАЗРАБОТЧИК К ВАШИМ УСЛУГАМ!

   </article>
 {% include 'home/includes/paginator.html' %}
 </div> 
{% endblock %}
 