{% extends 'base.html' %}
{% block title %}
  Социальная сеть для моих друзей)
{% endblock %} 
{% block content %}
{% load thumbnail %}
{% load user_filters %}
{% load cache %}
{% cache 20 index_page page_obj %}
<div class="container py-5">
  {% include 'home/includes/switcher.html' %}
  <article>

    <div class="row p-0 mb-0 bg-white rounded">
      <aside class="col-12 col-md-9 col-dm-9">
        {% for post in page_obj %}
        <div class="shadow-lg p-0 mb-4 bg-white rounded">
          <div class="card-header text-success-50 bg-white    ">
          {% include 'home/includes/post_list.html' %}
          </div>  
        </div>
        {% endfor %}
      </aside> 
      <article class="col-3 col-dm-3">

        ЗДЕСЬ МОЖЕТ БЫТЬ ВАША РЕКЛАМА!<br><br><br><br>
        <a href="{% url 'about:author' %}">САМЫЙ ЛУЧШИЙ РАЗРАБОТЧИК К ВАШИМ УСЛУГАМ!</a><br>
        <br><br><br>

        <div class="shadow-lg p-0 mb-2 bg-white rounded">
        
        
          
          
         
          <div class="card-header text-success-50 bg-white    ">
            <div class="d-flex justify-content-between">
            ПОСЛЕДНИЕ ПОСТЫ:
            </div>
          </div>
            {% for post in post_list %}
          
            <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
  

               {% if post.title %}     
               <a href="{% url 'home:post_detail' post.pk %}">{{ post.title}}</a>      
               {% else %}
               <a href="{% url 'home:post_detail' post.pk %}">{{ post.text | len_30 }}&#8230;</a> 
               {% endif %}
              </div>
            </div>
              {% endfor %}
        </div>
        <div class="shadow-lg p-0 mb-2 bg-white rounded">
              <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
            СПИСОК ГРУПП:
            </div>
            </div>
            {% for group in group_list %}
            <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
            <a href="{% url 'home:group_list' group.slug %}">{{ group.title}}</a>
            </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="shadow-lg p-0 mb-2 bg-white rounded">
              <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
            TOP АВТОРОВ:
            </div>
            </div>
            {% for top_user in sort_user_list %}
            
            <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
            <a href="{% url 'home:profile' top_user.0 %}">{{ top_user.0.get_full_name}} - {{ top_user.1 }}</a>
            </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="shadow-lg p-0 mb-2 bg-white rounded">
              <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
            TOP КОММЕНТАТОРОВ:
            </div>
            </div>
            {% for author_comment in sort_author_comments_list %}
            
            <div class="card-header text-success-50 bg-white    ">
              <div class="d-flex justify-content-between">
            <a href="{% url 'home:index' author_comment.0.username %}">{{ author_comment.0.get_full_name}} - {{ author_comment.1 }}</a>
            </div>
            </div>
            {% endfor %}
            
        </div>
      </article>
    </div>

  </article> 
 {% include 'home/includes/paginator.html' %}
</div> 
{% endcache %}
{% endblock %}
 