{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Пост {{ post_title }}
{% endblock %} 
{% block content %}
{% load thumbnail %}
  <div class="container py-5">
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
            {% if post.group.slug %}   
              <li class="list-group-item">
                Группа: {{ post.group.title }}<br>
                <a href="{% url 'home:group_list' post.group.slug %}">Все записи группы</a>
            {% endif %}
              </a>
              </li>
              <li class="list-group-item">
                Автор: {{ post.author.get_full_name }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'home:profile' post.author.username %}">все посты пользователя</a>
            </li>
            <li class="list-group-item">
            {% if owner_of_post %}
              <a href="{% url 'home:post_edit' post.pk %}">редактирование поста</a>
            {% endif %}
             </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
        {% if post.title %}
          <p>{{ post.title}}</p>
          {% endif %}
          {% thumbnail post.image "900x614" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <article class="col-12 col-md-9">
          <p>{{ post.text|only_text_detail|safe}}</p>
          </article>
{% load user_filters %}
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'home:add_comment' post.id %}">
        {% csrf_token %}      
        <div class="form-group mb-2">
        {{ form.media }}
          {{ form.text|addclass:"form-control"}}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}
{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'home:profile' comment.author.username %}">
          {{ comment.author.get_full_name }}
        </a>
      </h5>
        <p>
         {{ comment.text|safe }}
        </p>
      </div>
    </div>
{% endfor %}
        </article>
      </div> 
{% endblock %}
    