{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{author.get_full_name}}
{% endblock %} 
{% block content %}


<div class="container py-5">
  <h1>Все посты пользователя {{ author.get_full_name }}</h1>
  <h3>Всего постов: {{ posts_count }}</h3>
  {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'home:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'home:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}

   
    <div class="row p-0 mb-0 bg-white rounded">
    <aside class="col-12 col-md-9">   
        {% for post in page_obj %}
         <div class="shadow-lg p-0 mb-4 bg-white rounded">
    {% include 'home/includes/profile_post.html' %}
    </div>
    {% endfor %}
   </aside>
   <article class="col-3 col-md-3">

ЗДЕСЬ МОЖЕТ БЫТЬ ВАША РЕКЛАМА!<br><br>
САМЫЙ ЛУЧШИЯ РАЗРАБОТЧИК К ВАШИМ УСЛУГАМ!

   </article>
   
  
       
{% include 'home/includes/paginator.html' %}
          
 </div>   
   
 {% endblock %}