
{% load thumbnail %}
{% load user_filters %}


 
  <div class="card-header text-success-50 bg-white    ">
  
      <div class="d-flex justify-content-between">
       
      
        Автор: {{ post.author.get_full_name }}
     
        <span>
         Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </span>
      </div>
     
    
        <a href="{% url 'home:profile' post.author.username %}" class="text-dark">Все посты пользователя</a>
        
  </div> 

    
    
  <div class="card-header text-success-50 bg-white    ">
    <aside class="col-12 col-md-9 col-md-6">
    {% if post.title %}
          {{ post.title}}
          {% endif %}
    {% thumbnail post.image "900x614" crop="center" upscale=True as im %}
    
          <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
         </aside>
  </div>
  <div class="card-header text-success-50 bg-white    ">
    
      {{ post.text|only_text|safe }} 
    
    <a href="{% url 'home:post_detail' post.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">Подробнее</button></a>
    <a href="{% url 'home:post_detail' post.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">Прокомментровать: {{ post.comments.count}}</button></a>
          
          {% if post.group %}       
            <a href="{% url 'home:group_list' post.group.slug %}"><button type="button" class="btn btn-outline-primary btn-sm">Все записи группы {{post.group}}</button></a> 
          {% endif %}
  </div>


 